@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply underline;
}

.term {
  background-color: #000;
  color: #0f0;
  font-family: 'Courier New', Courier, monospace;
  padding: 1rem;
  border: solid 1px #0f0;
}
